In [2]:
import numpy as np 
import pandas as pd 
import os 
import matplotlib.pyplot as plt

In [3]:
def to_string(data):
    return str(data)
df = pd.read_excel("C:/Users/Nishant Joshi/Downloads/Lantyer_Metadata_original submission.xlsx")

df_acsf_CC = df[df.Prefix=='NC']
df_acsf_CC = df_acsf_CC.sort_values('date')
df_acsf_CC  = df[['FN' in i for i in df['Experiment Protocol']]]
df_acsf_CC.loc[:,'date'] = df_acsf_CC['date'].apply(to_string)
list_date = df_acsf_CC.date.to_list()

In [4]:
df_CC_dates_exps = {'dates_CC':[],'exps_CC':[],'count_CC':[]}
for i in set(list_date):
    df_CC_dates_exps['dates_CC'].append(i)
    df_CC_dates_exps['exps_CC'].append(np.array(df_acsf_CC.groupby('date').get_group(i)['Experiment Number']))
    df_CC_dates_exps['count_CC'].append(len(np.array(df_acsf_CC.groupby('date').get_group(i)['Experiment Number'])))
df_CC_all = pd.DataFrame(df_CC_dates_exps)
df_CC_all = df_CC_all.sort_values('dates_CC')
df_CC_all

   dates_CC                   exps_CC  count_CC
34   170615                      [19]         1
25   170616                  [20, 21]         2
37   170620                      [22]         1
21   170623                      [25]         1
23   170626              [26, 27, 29]         3
7    170627                      [30]         1
17   170628                  [32, 33]         2
8    170630                  [36, 37]         2
39   170703                  [38, 41]         2
40   170704                      [44]         1
10   170711              [51, 52, 54]         3
1    170712                  [55, 56]         2
29   170713                  [58, 59]         2
19   170714                      [64]         1
12   170717                      [65]         1
14   170718              [68, 67, 69]         3
28   170719                      [70]         1
11   170720              [72, 74, 75]         3
38   170724              [76, 77, 79]         3
22   170725                  [81, 82]         2
13   170726              [83, 86, 87]         3
33   170727                      [88]         1
27   170728              [89, 91, 90]         3
16   170801                      [93]         1
31   170811          [94, 95, 97, 98]         4
26   170814      [103, 105, 100, 104]         4
2    170815      [107, 109, 108, 106]         4
35   170816           [112, 110, 111]         3
36   170821           [113, 114, 115]         3
6    170830           [118, 119, 116]         3
24   170914                     [123]         1
9    171006                [125, 124]         2
3    171010      [127, 129, 126, 128]         4
32   171011           [130, 131, 132]         3
4    171012           [135, 137, 138]         3
15   171017      [140, 141, 142, 139]         4
18   171110           [143, 144, 145]         3
20   171207  [149, 148, 22, 146, 150]         5
0    171211                [153, 154]         2
30   171220      [156, 158, 159, 155]         4
5    171222           [160, 161, 162]         3

In [5]:
def return_name_string_obj_NC(data):
  broken_str = data.split('_')
  if 'NC' == broken_str[2]:
    name = broken_str[2]
    date = broken_str[3]
    return name+'_'+date
  else:
    name = broken_str[3]
    date = broken_str[2]
    return name+'_'+date

def modify_names(file_name):
  str_temp = file_name
  all_parts = str_temp.split('_')
  print(all_parts)
  name = all_parts[0]
  if 'Payam' == name:
    name = name.lower()
  broken = all_parts[1].split('-')
  date = broken[:3]
  date = date[0]+date[1]+date[2]
  exp = broken[3]
  return name+'_'+date+'_'+exp

def return_name_date_exp_fn(string):

  if 'NC' in string:
    string_broken = string.split('_')
    name = string_broken[0]
    date = string_broken[1]
    exp = string_broken[-1]
    year = date[:2]
    month = date[2:4]

    if month[0] =='0':
      month = month[1]
    day = date[4:]
    if day[0] =='0':
      day = day[1]
    date = day+month+year  
    return name+'_'+date+'_'+exp 
  elif 'xuan' in string:
    broken_str = string.split('_')
    name = broken_str[0]
    date = broken_str[1].replace('-','')
    exp =  broken_str[2]
    return name+'_'+date+'_'+exp
  elif 'asli' in string:
    broken_str = string.split('_')
    name = broken_str[0]
    date = broken_str[1].replace('-','')
    exp =  broken_str[2]
    return name+'_'+date+'_'+exp    
  elif 'Payam' in string:
    broken_str = string.split('_')
    name = broken_str[0].lower()
    date = broken_str[1].split('-')
    exp =  broken_str[2]
    day = date[0]
    month = date[1]
    year = date[2]
    if day[0] =='0':
      day=day[1]
    date = day+month+year  
    return name+'_'+date+'_'+exp

In [56]:
import os 
all_CC = os.listdir('D:/Step-and-Hold Protocol (Xuan, Asli, NC, Payam)')
# all_CC[['asli' in i for i in all_CC]]
len(set(np.array(all_CC)[np.array(['asli' in i for i in all_CC],dtype=np.bool)]))

<ipython-input-56-5cbc324d2e98>:4: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  len(set(np.array(all_CC)[np.array(['asli' in i for i in all_CC],dtype=np.bool)]))

76

In [6]:
df_acsf_FN = pd.read_csv('G:/My Drive/lists/all_files_new.csv')['experimentname'].apply(return_name_date_exp_fn)

In [17]:

dates_FN = [i.split('_')[1] for i in NC_FN_LIST]
exps_FN = [i.split('_')[-2] for i in NC_FN_LIST]

df_FN = pd.DataFrame({'Dates_FN':dates_FN,'exps_FN':exps_FN})
df_FN_dates_exps = {'dates_FN':[],'exps_FN':[],'count_FN':[]}
for i in set(dates_FN):
    df_FN_dates_exps['dates_FN'].append(i)
    df_FN_dates_exps['exps_FN'].append(np.array(df_FN.groupby('Dates_FN').get_group(i)['exps_FN']))
    df_FN_dates_exps['count_FN'].append(len(df_FN.groupby('Dates_FN').get_group(i)['exps_FN']))
df_FN_all = pd.DataFrame(df_FN_dates_exps)

In [564]:
df_CC_FN_merged = pd.merge(df_FN_all, df_CC_all, left_on='dates_FN', right_on='dates_CC', how='left',sort=True)
# df_CC_FN_merged = df_CC_FN_merged.dropna(axis=0)
# df_CC_FN_merged.to_csv('D:/lists/FN_CC_merged.csv')
df_CC_FN_merged

,dates_FN,exps_FN,count_FN,dates_CC,exps_CC,count_CC
0,170615,[E1],1,170615,[19],1.0
1,170620,[E1],1,170620,[22],1.0
2,170623,[E4],1,170623,[25],1.0
3,170626,"[E4, E1, E2]",3,170626,"[26, 27, 29]",3.0
4,170627,[E1],1,170627,[30],1.0
5,170628,"[E1, E2]",2,170628,"[32, 33]",2.0
6,170630,"[E3, E4]",2,170630,"[36, 37]",2.0
7,170703,"[E5, E1, E2]",3,170703,"[38, 41]",2.0
8,170704,[E2],1,170704,[44],1.0
9,170711,"[E2, E4, E1]",3,170711,"[51, 52, 54]",3.0
10,170712,"[E2, E1]",2,170712,"[55, 56]",2.0
11,170713,"[E4, E3]",2,170713,"[58, 59]",2.0
12,170714,"[E5, E3, E4]",3,170714,[64],1.0
13,170717,"[E3, E1]",2,170717,[65],1.0
14,170718,"[E2, E3, E1]",3,170718,"[68, 67, 69]",3.0
15,170719,"[E3, E2]",2,170719,[70],1.0
16,170720,"[E2, E5, E4]",3,170720,"[72, 74, 75]",3.0
17,170724,"[E2, E1, E4]",3,170724,"[76, 77, 79]",3.0
18,170725,"[E3, E2]",2,170725,"[81, 82]",2.0
19,170726,"[E1, E5, E4]",3,170726,"[83, 86, 87]",3.0
20,170727,[E1],1,170727,[88],1.0
21,170728,"[E3, E2]",2,170728,"[89, 91, 90]",3.0
22,170801,[E2],1,170801,[93],1.0
23,170811,"[E2, E5, E4, E6]",4,170811,"[94, 95, 97, 98]",4.0
24,170814,"[E2, E7, E6, E9]",4,170814,"[103, 105, 100, 104]",4.0
25,170815,"[E1, E2, E3, E4, E5, E7, E6]",7,170815,"[107, 109, 108, 106]",4.0
26,170816,"[E1, E2, E3]",3,170816,"[112, 110, 111]",3.0
27,170821,"[E4, E1, E2, E3]",4,170821,"[113, 114, 115]",3.0
28,170830,"[E1, E3, E6, E4]",4,170830,"[118, 119, 116]",3.0
29,170913,[E2],1,NaN,NaN,NaN
30,170914,[E1],1,170914,[123],1.0
31,171006,"[E3, E6, E5, E2, E4, E7]",6,171006,"[125, 124]",2.0
32,171010,"[E2, E1, E6, E5, E4, E3]",6,171010,"[127, 129, 126, 128]",4.0
33,171011,"[E3, E1, E2, E4, E5]",5,171011,"[130, 131, 132]",3.0
34,171012,"[E3, E6, E9, E8, E10, E7, E5]",7,171012,"[135, 137, 138]",3.0
35,171017,"[E1, E4, E3, E5, E2]",5,171017,"[140, 141, 142, 139]",4.0
36,171110,"[E3, E2, E1]",3,171110,"[143, 144, 145]",3.0
37,171207,"[E3, E4, E1, E5, E6]",5,171207,"[149, 148, 22, 146, 150]",5.0
38,171211,"[E2, E1, E2, E1, E3]",5,171211,"[153, 154]",2.0
39,171212,"[E1, E3]",2,NaN,NaN,NaN
40,171213,"[E1, E4, E2, E3]",4,NaN,NaN,NaN
41,171214,"[E2, E1]",2,NaN,NaN,NaN
42,171218,"[E2, E3, E1, E4]",4,NaN,NaN,NaN
43,171219,"[E1, E2]",2,NaN,NaN,NaN
44,171220,"[E2, E1, E5, E4]",4,171220,"[156, 158, 159, 155]",4.0
45,171222,"[E1, E3, E2]",3,171222,"[160, 161, 162]",3.0

In [454]:
def return_zero_count(data):

    return np.sort(data)-np.min(data)+1

df_CC_FN_merged['exps_CC_zero'] = df_CC_FN_merged.exps_CC.apply(return_zero_count)

In [532]:
df_CC_FN_merged

,dates_FN,exps_FN,count_FN,dates_CC,exps_CC,count_CC
0,170615,[E1],1,170615,[19],1.0
1,170620,[E1],1,170620,[22],1.0
2,170623,[E4],1,170623,[25],1.0
3,170626,"[E4, E1, E2]",3,170626,"[26, 27, 29]",3.0
4,170627,[E1],1,170627,[30],1.0
5,170628,"[E1, E2]",2,170628,"[32, 33]",2.0
6,170630,"[E3, E4]",2,170630,"[36, 37]",2.0
7,170703,"[E5, E1, E2]",3,170703,"[38, 41]",2.0
8,170704,[E2],1,170704,[44],1.0
9,170711,"[E2, E4, E1]",3,170711,"[51, 52, 54]",3.0
10,170712,"[E2, E1]",2,170712,"[55, 56]",2.0
11,170713,"[E4, E3]",2,170713,"[58, 59]",2.0
12,170714,"[E5, E3, E4]",3,170714,[64],1.0
13,170717,"[E3, E1]",2,170717,[65],1.0
14,170718,"[E2, E3, E1]",3,170718,"[68, 67, 69]",3.0
15,170719,"[E3, E2]",2,170719,[70],1.0
16,170720,"[E2, E5, E4]",3,170720,"[72, 74, 75]",3.0
17,170724,"[E2, E1, E4]",3,170724,"[76, 77, 79]",3.0
18,170725,"[E3, E2]",2,170725,"[81, 82]",2.0
19,170726,"[E1, E5, E4]",3,170726,"[83, 86, 87]",3.0
20,170727,[E1],1,170727,[88],1.0
21,170728,"[E3, E2]",2,170728,"[89, 91, 90]",3.0
22,170801,[E2],1,170801,[93],1.0
23,170811,"[E2, E5, E4, E6]",4,170811,"[94, 95, 97, 98]",4.0
24,170814,"[E2, E7, E6, E9]",4,170814,"[103, 105, 100, 104]",4.0
25,170815,"[E1, E2, E3, E4, E5, E7, E6]",7,170815,"[107, 109, 108, 106]",4.0
26,170816,"[E1, E2, E3]",3,170816,"[112, 110, 111]",3.0
27,170821,"[E4, E1, E2, E3]",4,170821,"[113, 114, 115]",3.0
28,170830,"[E1, E3, E6, E4]",4,170830,"[118, 119, 116]",3.0
30,170914,[E1],1,170914,[123],1.0
31,171006,"[E3, E6, E5, E2, E4, E7]",6,171006,"[125, 124]",2.0
32,171010,"[E2, E1, E6, E5, E4, E3]",6,171010,"[127, 129, 126, 128]",4.0
33,171011,"[E3, E1, E2, E4, E5]",5,171011,"[130, 131, 132]",3.0
34,171012,"[E3, E6, E9, E8, E10, E7, E5]",7,171012,"[135, 137, 138]",3.0
35,171017,"[E1, E4, E3, E5, E2]",5,171017,"[140, 141, 142, 139]",4.0
36,171110,"[E3, E2, E1]",3,171110,"[143, 144, 145]",3.0
37,171207,"[E3, E4, E1, E5, E6]",5,171207,"[149, 148, 22, 146, 150]",5.0
38,171211,"[E2, E1, E2, E1, E3]",5,171211,"[153, 154]",2.0
44,171220,"[E2, E1, E5, E4]",4,171220,"[156, 158, 159, 155]",4.0
45,171222,"[E1, E3, E2]",3,171222,"[160, 161, 162]",3.0

In [23]:
df_EI = pd.read_csv("D:\lists\EI_paper.csv")
df_EI_NC = df_EI[['NC' in i for i in df_EI.CC_files]]
df_EI_NC_filt = df_EI_NC[~np.array(['BIC' in i for i in df_EI_NC.CC_files])]
df_EI_NC_filt.CC_files = [i[1:-1]  for i in df_EI_NC_filt.CC_files]
df_EI_NC_filt.FN_files = [i[1:-1]  for i in df_EI_NC_filt.FN_files]
NC_FN_LIST_EI = df_EI_NC_filt['FN_files']

dates_FN_EI = [i.split('_')[1] for i in NC_FN_LIST_EI]
exps_FN_EI = [i.split('_')[-1][:-1] for i in NC_FN_LIST_EI]

df_FN_EI = pd.DataFrame({'Dates_FN':dates_FN_EI,'exps_FN':exps_FN_EI})
df_FN_dates_exps_EI = {'dates_FN':[],'exps_FN':[],'count_FN':[]}
for i in set(dates_FN_EI):
    df_FN_dates_exps_EI['dates_FN'].append(i)
    df_FN_dates_exps_EI['exps_FN'].append(np.array(df_FN_EI.groupby('Dates_FN').get_group(i)['exps_FN']))
    df_FN_dates_exps_EI['count_FN'].append(len(df_FN_EI.groupby('Dates_FN').get_group(i)['exps_FN']))
df_FN_all_EI = pd.DataFrame(df_FN_dates_exps_EI)

In [41]:
# [i.split('_') for i in df_EI_NC_filt.CC_files]
df = pd.DataFrame([i.split('_') for i in df_EI_NC_filt.CC_files],columns=['date','name','exp_number','classification'])
df['CC_files'] =  df['date']+'_'+df['name']+'_'+df['exp_number']
df['Fn_files'] =  np.array(df_EI_NC_filt.FN_files)
df.to_csv('D:/lists/NC_DB_for_cluster.csv')

In [24]:
FS = []
RS = []
for i in df_EI_NC_filt['CC_files']:
    if 'Fast Spiking' in i:

        FS.append([i.split('_')[0][1:],i.split('_')[1],i.split('_')[2]])
    elif 'Pyramidal' in i :
        RS.append([i.split('_')[0][1:],i.split('_')[1],i.split('_')[2]])

c:\Users\Nishant Joshi\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

                       CC_files                   FN_files
2    170814_NC_100_Fast Spiking    NC_170814_aCSF_D1ago_E2
3    170815_NC_106_Fast Spiking    NC_170815_aCSF_D1ago_E1
4    170815_NC_108_Fast Spiking    NC_170815_aCSF_D1ago_E3
6    170830_NC_116_Fast Spiking    NC_170830_aCSF_D1ago_E1
8    170914_NC_123_Fast Spiking    NC_170914_aCSF_D1ago_E1
..                          ...                        ...
218      170725_NC_81_Pyramidal  NC_170725_aCSF_DopD2D1_E2
223      170728_NC_91_Pyramidal  NC_170728_aCSF_DopD2D1_E3
224      170811_NC_95_Pyramidal    NC_170811_aCSF_D1ago_E2
225      170811_NC_97_Pyramidal    NC_170811_aCSF_D1ago_E4
226      170811_NC_98_Pyramidal    NC_170811_aCSF_D1ago_E5

[82 rows x 2 columns]

In [614]:

df_exc = pd.DataFrame(RS, columns=['date','name','exp_number'])
df_inh = pd.DataFrame(FS, columns=['date','name','exp_number'])
df_exc.to_csv('D:/lists/EXC_DB_NC.csv')
df_inh.to_csv('D:/lists/INH_DB_NC.csv')

In [1]:
NC_CC_LIST_EI = df_EI_NC_filt['CC_files']
dates_CC_EI = [i.split('_')[0] for i in NC_CC_LIST_EI]
exps_CC_EI = [i.split('_')[-2] for i in NC_CC_LIST_EI]

df_CC_EI = pd.DataFrame({'Dates_CC':dates_CC_EI,'exps_CC':exps_CC_EI})
df_CC_dates_exps_EI = {'dates_CC':[],'exps_CC':[],'count_CC':[]}
for i in set(dates_CC_EI):
    df_CC_dates_exps_EI['dates_CC'].append(i[1:])
    df_CC_dates_exps_EI['exps_CC'].append(np.array(df_CC_EI.groupby('Dates_CC').get_group(i)['exps_CC']))
    df_CC_dates_exps_EI['count_CC'].append(len(df_CC_EI.groupby('Dates_CC').get_group(i)['exps_CC']))
df_CC_all_EI = pd.DataFrame(df_CC_dates_exps_EI)
df_CC_all_EI

NameError: name 'df_EI_NC_filt' is not defined

In [584]:
df_CC_FN_merged_EI = pd.merge(df_FN_all_EI, df_CC_all_EI, left_on='dates_FN', right_on='dates_CC', how='right',sort=True)
df_CC_FN_merged = df_CC_FN_merged.dropna(axis=0)
df_CC_FN_merged_EI

,dates_FN,exps_FN,count_FN,dates_CC,exps_CC,count_CC
0,170626,"[E2, E1]",2,170626,"[29, 28]",2
1,170627,[E1],1,170627,[30],1
2,170628,"[E1, E2]",2,170628,"[32, 33]",2
3,170630,[E3],1,170630,[36],1
4,170703,"[E1, E5]",2,170703,"[38, 41]",2
5,170704,[E2],1,170704,[44],1
6,170711,"[E1, E2, E4]",3,170711,"[51, 52, 54]",3
7,170712,"[E1, E2]",2,170712,"[55, 56]",2
8,170713,"[E3, E4]",2,170713,"[58, 59]",2
9,170714,[E5],1,170714,[64],1
10,170717,[E3],1,170717,[65],1
11,170718,"[E2, E3, E1]",3,170718,"[67, 69, 68]",3
12,170719,[E2],1,170719,[70],1
13,170720,"[E2, E4, E5]",3,170720,"[72, 74, 75]",3
14,170724,"[E1, E2, E4]",3,170724,"[76, 77, 79]",3
15,170725,"[E3, E2]",2,170725,"[82, 81]",2
16,170726,"[E1, E4, E5]",3,170726,"[83, 86, 87]",3
17,170727,[E1],1,170727,[88],1
18,170728,"[E2, E3]",2,170728,"[90, 91]",2
19,170811,"[E2, E4, E5]",3,170811,"[95, 97, 98]",3
20,170814,"[E2, E7, E9]",3,170814,"[100, 103, 105]",3
21,170815,"[E1, E3, E2, E4]",4,170815,"[106, 108, 107, 109]",4
22,170816,[E3],1,170816,[112],1
23,170821,"[E1, E2, E3]",3,170821,"[113, 114, 115]",3
24,170830,"[E1, E3, E4]",3,170830,"[116, 118, 119]",3
25,170913,[E2],1,170913,[121],1
26,170914,[E1],1,170914,[123],1
27,171006,[E2],1,171006,[125],1
28,171010,"[E1, E3, E2, E4]",4,171010,"[126, 128, 127, 129]",4
29,171011,"[E1, E2, E3]",3,171011,"[130, 131, 132]",3
30,171012,"[E3, E5, E6]",3,171012,"[135, 137, 138]",3
31,171017,"[E2, E3, E4]",3,171017,"[140, 141, 142]",3
32,171110,"[E1, E2, E3]",3,171110,"[143, 144, 145]",3
33,171207,"[E1, E5, E3]",3,171207,"[146, 150, 148]",3
34,171211,"[E1, E2]",2,171211,"[153, 154]",2
35,171220,"[E1, E2, E4]",3,171220,"[155, 156, 159]",3
36,171222,"[E1, E2]",2,171222,"[160, 161]",2

In [591]:


NC_CC_LIST_DB = NC_DB
dates_CC_DB = [i.split('_')[2] for i in NC_CC_LIST_DB]
exps_CC_DB = [i.split('_')[-2] for i in NC_CC_LIST_DB]

df_CC_DB = pd.DataFrame({'Dates_CC':dates_CC_DB,'exps_CC':exps_CC_DB})
df_CC_dates_exps_DB = {'dates_CC':[],'exps_CC':[],'count_CC':[]}
for i in set(dates_CC_DB):
    df_CC_dates_exps_DB['dates_CC'].append(i)
    df_CC_dates_exps_DB['exps_CC'].append(np.sort(np.array(df_CC_DB.groupby('Dates_CC').get_group(i)['exps_CC'])))
    df_CC_dates_exps_DB['count_CC'].append(len(df_CC_DB.groupby('Dates_CC').get_group(i)['exps_CC']))
df_CC_all_DB = pd.DataFrame(df_CC_dates_exps_DB)
df_CC_all_DB

df_CC_FN_merged_DB = pd.merge(df_FN_all_EI, df_CC_all_DB, left_on='dates_FN', right_on='dates_CC', how='right',sort=True)
df_CC_FN_merged_DB = df_CC_FN_merged_DB.dropna(axis=0)
df_CC_FN_merged_DB.to_csv('D:/lists/FN_CC_DB.csv')